@import url('photographer.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  --primary-color: #901c1c;
  --secondary-color: #d3573c;
  --tertiary-color: #525252;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 1440px;
}

article {
}

main {
  max-width: 1440px;
  flex-wrap: wrap;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;

  margin-top: 100px;
  margin-bottom: 121px;
  flex-wrap: wrap;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

/* TEXT STYLE */
h2,
h3,
h4,
h5 {
  margin: 0;
}

h2 {
  size: 36px;
  color: var(--secondary-color);
  text-align: center;
}
h3 {
  color: var(--primary-color);
  font-size: 13px;
}
h4 {
  font-size: 10px;
  margin: 10px;
}
h5 {
  font-size: 9px;
  color: var(--tertiary-color);
}

*:focus {
  border: solid black;
  transition: 0.2s 0.2s ease-in-out;
}
